<div class="main-footer">
    <a href="/" class="a-img-menu">
        <img src="assets/logoArgIA.png" alt="">
    </a>
    <div class="menu-container">
        <div class="link-about">
            <h1>Sobre este sitio</h1>
            <hr>
            <a href="">Politica de privacidad</a>
            <a href="">Destinos</a>
            <a href="">Informaciones practicas</a>
            <a href="">Terminos de uso</a>
        </div>
        <div class="link-pages">
            <h1>Mis paginas web</h1>
            <hr>
            <a href="">Portfolio</a>
            <a href="">Game page</a>
            <a href="">Crypto page</a>
            <a href="">Mini games page</a>
        </div>
        <div class="menu-icons">
            <a href="https://www.linkedin.com/in/sergio-dannunzio/" target="_blank">
                <i class="fa fa-linkedin-square"></i>
            </a>
            <a href="https://github.com/Sergio-Dannunzio" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a href="mailto:sergiodannunzio@hotmail.com">
                <i class="fa fa-envelope"></i>
            </a>
        </div>
    </div>
</div>