.main-container{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.scroller{
    max-width: 90vw;
    .scroller__inner{
        padding-block: 1rem;
        display: flex;
        gap: 1rem;
        img{
            width: 310px;
            height: 218px;
            border-radius: 8px;
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    
}
.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 20%,
      white 80%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 10s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }