:root {
    --text-color:rgba(255,255,255,1);
    --backg-color:rgba(34,34,34,1);
    --btn-color:rgba(2, 56, 255);
    --link-hover: rgba(1, 207, 255);
}

$text-color: rgba(255,255,255,1);
$backg-color: rgba(34,34,34,1);
$backg-color-white: #e0e0e0;
$btn-color: rgba(2, 56, 255);
$link-hover: rgba(1, 207, 255);

/*body{
    --text-color:rgba(34,34,34,1);
    --backg-color:#d3d3d3;
    --btn-color:#1b1919;
    --list-color:rgba(34,34,34,1);
}

body.dark-theme {
    --text-color:rgb(231, 231, 231);
    --backg-color:#1b1919;
    --btn-color:rgba(255,255,255,0.5);
    --list-color:#666;
}*/