<div class="main-container">
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>CLIMA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Buenos Aires</td>
                    <td>Maxima: {{detalles[0].temp2m}}°</td>
                    <td>Mínima: {{detalles[0].temp2m.min}}°</td>
                    <td class="img"><img src="assets/{{this.detalles[0].weather}}.png" alt=""></td>
                </tr>
                <tr>
                    <td>Cordoba</td>
                    <td>Maxima: {{detalles[1].temp2m}}°</td>
                    <td>Mínima: {{detalles[1].temp2m.min}}°</td>
                    <td class="img"><img src="assets/{{this.detalles[1].weather}}.png" alt=""></td>
                </tr>
                <tr>
                    <td>Salta</td>
                    <td>Maxima: {{detalles[2].temp2m}}°</td>
                    <td>Mínima: {{detalles[2].temp2m.min}}°</td>
                    <td class="img"><img src="assets/{{this.detalles[2].weather}}.png" alt=""></td>
                </tr>
                <tr>
                    <td>Neuquen</td>
                    <td>Maxima: {{detalles[3].temp2m.max}}°</td>
                    <td>Mínima: {{detalles[3].temp2m.min}}°</td>
                    <td class="img"><img src="assets/{{this.detalles[3].weather}}.png" alt=""></td>
                </tr>
                <tr>
                    <td>Rosario</td>
                    <td>Maxima: {{detalles[4].temp2m.max}}°</td>
                    <td>Mínima: {{detalles[4].temp2m.min}}°</td>
                    <td class="img"><img src="assets/{{this.detalles[4].weather}}.png" alt=""></td>
                </tr>
                <tr>
                    <td>Corrientes</td>
                    <td>Maxima: {{detalles[5].temp2m.max}}°</td>
                    <td>Mínima: {{detalles[5].temp2m.min}}°</td>
                    <td class="img"><img src="assets/{{this.detalles[5].weather}}.png" alt=""></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card">
        <table>
            <thead>
                <tr>
                    <th>NOTICIAS</th>
                </tr>
            </thead>
            <tbody class="noticias">
                <tr>
                    <td>Buenos Aires</td>
                </tr>
                <tr>
                    <td>Cordoba</td>
                </tr>
                <tr>
                    <td>Salta</td>
                </tr>
                <tr>
                    <td>Neuquen</td>
                </tr>
                <tr>
                    <td>Rosario</td>
                </tr>
                <tr>
                    <td>Corrientes</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
