body{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    background-color: rgb(212, 212, 212);
    color:#fff;
    overflow-x: hidden;
}
html, body { height: 100%; }
